*.pyc
*.orig
*.rej
*.desktop
*.install
data/appdata.xml
data/mime/meld.xml
build
bin
dist
MANIFEST
data/gschemas.compiled
.idea/
bin
*.class
*.jar
*.iml
out/
.settings/
*.classpath
*.project
.gradle/
node_modules/
**/bundle.js
.metadata/
hs_err*
